.containerC {
    width: 100%;
}

@media (min-width: 1250px) {
    textarea {
        width: 100% !important;
    }
}

textarea {
    width: 60%;
    height: 350px;
    border: 2px solid #fff;
    transition: all ease-out 222ms;
    margin-top: 1rem;
    background: transparent;
    color: #fff;
}

textarea#input:hover {
    border: 2px solid #ff5858;
}

textarea#input:focus {
    outline: 0;
    border: 2px solid #ff0000;
}

textarea#output {
    border: 2px solid #ff6600;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnDiv {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

@media (max-width: 640px) {
    .btnDiv {
        flex-direction: column;
        gap: 0;
    }
}

.btnClear {
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background: rgb(128, 0, 0);
    border: 1px solid transparent;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all 333ms ease;
    margin-top: 1rem;
}

.btnClear:hover {
    background: rgb(255, 255, 255);
    border-color: rgb(128, 0, 0);
    color: rgb(128, 0, 0);
}

.btnCopy {
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background: rgb(0, 128, 0);
    border: 1px solid transparent;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all 333ms ease;
    margin-top: 1rem;
}

.btnCopy:hover {
    background: rgb(255, 255, 255);
    border-color: rgb(0, 128, 0);
    color: rgb(0, 128, 0);
}